<h1>New student</h1>

<% form_for setup_student(@student) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Create' %>
    <%= f.submit 'Save and Enrol' if @student.can_enrol? %>
  </p>
<% end %>

<%= link_to 'Back', students_path %>